<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <h2>Register</h2>
    <form action="/user/register" method="POST">
        <input type="text" name="name" placeholder="Name" required>
        <input type="text" name="fatherName" placeholder="Father's Name" required>
        <input type="date" name="dob" placeholder="Date of Birth" required>
        <input type="text" name="phoneNumber" placeholder="Phone Number" required>
        <input type="text" name="address" placeholder="Address" required>
        <input type="text" name="collegeName" placeholder="College Name" required>
        <input type="text" name="course" placeholder="Course" required>
        <input type="text" name="collegeId" placeholder="College ID" required>
        <input type="text" name="casteCertificateNumber" placeholder="Caste Certificate Number" required>
        <input type="text" name="aadhaarNumber" placeholder="Aadhaar Number" required>
        <input type="text" name="incomeCertificateNumber" placeholder="Income Certificate Number" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Register</button>
      </form>
      
  </div>
</body>
</html>
